@{
    ViewData["title"] = "Page Table Movies";
}

<div class="row align-content-center">
    <div class="row col-10">
        <div class="alert alert-dark">
            Listado de Peliculas en tablas
        </div>
    </div>
</div>