@{
    ViewData["Title"] = "Home Page";
}


<div class="row justify-content-center">
    <div class="col-10">
        <div class="alert alert-info" role="alert">
            <h1>MANTENIMIENTO DEL PERSONAL</h1>
        </div>
        <button type="button" class="btn btn-primary btn-sm boton-nuevo-personal">Nuevo Personal</button>

        <table class="table table-dark table-striped-column" id="tablaPersonal">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Departamento</th>
                    <th>Pais</th>
                    <th>Sueldo</th>
                    <th>Fecha Contrato</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPersonal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Personal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <div class="mb-3">
                    <label class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control" id="txtNombreCompleto" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label class="form-label">Departamento</label>
                    <select class="form-select" id="cboDepartamento"></select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Pais</label>
                    <select class="form-select" id="cboPais"></select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Sueldo</label>
                    <input type="number" class="form-control" id="txtSueldo">
                </div>
                <div class="mb-3">
                    <label class="form-label">Fecha Contrato</label>
                    <input type="text" class="form-control" id="txtFechaContrato">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary boton-guardar-cambios-personal">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/index.js?v=2"></script>
  
}
